<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="by.babanin.springmvc">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.core">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="info"/>
    </logger>
	
	<logger name="org.springframework.web.context.support.XmlWebApplicationContext">
        <level value="info"/>
    </logger>
	
	<logger name="org.springframework.security.web.FilterChainProxy">
        <level value="info"/>
    </logger>

    <logger name="org.springframework.security.access">
        <level value="info"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>